@using Web.Areas.Admin.ViewModels.Blog
@model BlogDetailsVM

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Model Table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody>
                    <tr>
                        <th>Title</th>
                        <td>@Html.Raw(Model.Title)</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>@Html.Raw(Model.Description)</td>
                    </tr>
                    <tr>
                        <th>Quote</th>
                        <td>@Model.Quote</td>
                    </tr>
                     <tr>
                        <th>Quote Author</th>
                        <td>@Model.QuoteAuthor</td>
                    </tr>
                    <tr>
                        <th>Author</th>
                        <td>@Model.Author</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>@Model.Category</td>
                    </tr>
                    <tr>
                        <th>Created At</th>
                        <td>@Model.CreatedAt.ToString("dddd, dd MMMM yyyy")</td>
                    </tr>
                    <tr>
                        <th>Modified At</th>
                        <td>@Model.ModifiedAt.ToString("dddd, dd MMMM yyyy")</td>
                    </tr>
                    <tr>
                        <th>Cover Photo</th>
                        <td><img style="width:100px; height:100px; object-fit:contain; justify-content:flex-start" src="~/assets/images/@Model.CoverPhotoName" /></td>
                    </tr>

                    @foreach (var item in Model.BlogPhotos)
                    {
                        <tr>
                            <th>Single Photo</th>
                            <td><img style="width:100px; height:100px; object-fit:contain; justify-content:flex-start" src="~/assets/images/@item.PhotoName" /></td>
                        </tr>
                    }
                </tbody>
                <a asp-action="index" asp-controller="Blog" class="btn btn-info mb-2">Go to Back</a>
            </table>
        </div>
    </div>
</div>